
* {
	box-sizing: border-box;
}

/*--------------------------

LAYOUT

---------------------------*/

#main-header {
	border: 1px solid red;
	display: flex;
	justify-content: flex-end;
}

#main-nav {
	list-style: none;
	display: flex;
	padding-left: 0;
	margin: 50px 0 0;
}

#main-nav li {
	margin: 0 15px;
	text-align: bottom;
}

#main-header h1 {
	margin-right: auto;
}

#main-content {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.brand {
	border: 1px solid red;
}

.brand-headline,
.type-headline,
.products {
	text-align: center;
}

.types {
	width: 47%;
	float: left;
}

.products ul {
	list-style: none;
	padding-left: 0;
}

.breed-headline {
	width: 26%;
	display: inline-block;
	text-align: right;
}

.cat-breeds {
	display: inline-block;
	padding: 10px 20px;
}

/*--------------------------

CLEARFIX

---------------------------*/

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}